<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>鄄城县丰源木业有限公司 - 公司主页</title>

    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../static/assets/css/style-starter.css">

</head>

<body>
<!--  Main banner section -->
<header>
    <div class="w3l-header" id="home">
        <div class="container" style="background:#888;">
            <nav class="navbar navbar-expand-lg navbar-dark pl-0 pr-0" style="background:#888;">
                </a>欢迎来到鄄城县丰源木业有限公司，鄄城县丰源木业有限公司位于山东省菏泽市鄄城县旧城镇葵固堆村，欢迎广大客户来电来函咨询！
            </nav>
        </div>
    </div>
    <div>

    </div>
</header>
<!-- //header -->
<div style="height:40px;background:	#1E90FF;color:white;font:bold;font-size:20px;margin-bottom:10px;margin-top:-10px">
    <ul>
        <li class="nav-item active mr-lg-4" style="display:inline;float:left;">
            <a class="nav-link pl-0 pr-0" href="/index">主页&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-lg-4" style="display:inline;float:left;">
            <a class="nav-link pl-0 pr-0" href="/about">关于公司&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item mr-lg-4" style="display:inline;margin-left:10px;float:left;">
            <a class="nav-link pl-0 pr-0" href="/services">业务&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item" style="display:inline;float:left;">
            <a class="nav-link pl-0 pr-0" href="/contact">联系</a>
        </li>
    </ul>
</div>
<div>
    <section class="w3l-main-banner">
        <div class="banner-view" style="height:200px">
            <div class="banner-info container">
                <h3 class="banner-text"><small>鄄城县丰源木业有限公司</small>
                    <small></small>
                </h3>
                <p class="mt-3 mb-5"> 地址: 山东省菏泽市鄄城县旧城镇葵固堆村</p><br>
                <!--  <a href="portfolio.html" class="btn btn-light btn-style mr-3">My Work</a>
                 <a href="#about.html" class="btn btn-outline-light btn-style">Hire Me</a> -->
            </div>
        </div>

        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </section>
</div>

<div class="left-frame">
    <h2><em>公司基本信息</em></h2>
    <div class="homep-list">
        <div class="aboutus">
            <table class="gsinfotable">
                <tr>
                    <td>
                        公&nbsp;司&nbsp;名&nbsp;称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td class="rowcontact rowcontact_long" colspan="3">鄄城县丰源木业有限公司</td>
                </tr>
                <tr>
                    <td class="rowtitle">登记状态：</td>
                    <td class="rowcontact">在营（开业）企业</td>
                    <!--                    <td class="rowtitle" title="注册号和统一信用代码">统一社会信用代码：</td>-->
                    <!--                    <td class="rowcontact"> 913717266667331207</td>-->
                </tr>
                <tr>
                    <td class="rowtitle" title="注册号和统一信用代码">统一社会信用代码：</td>
                    <td class="rowcontact"> 913717266667331207</td>
                </tr>
                <tr>
                    <td class="rowtitle">法人代表：</td>
                    <td class="rowcontact">耿振五</td>

                </tr>
                <tr>
                    <td class="rowtitle">企业类型：</td>
                    <td class="rowcontact">有限责任公司(自然人投资或控股)</td>

                </tr>
                <tr>
                    <td class="rowtitle">登记机关：</td>
                    <td class="rowcontact">鄄城县市场监督管理局</td>
                </tr>
                <tr>
                    <td class="rowtitle">注册资本：</td>
                    <td class="rowcontact">5600.000000万人民币</td>
                </tr>

                <tr>
                    <td class="rowtitle">成立日期：</td>
                    <td class="rowcontact">2007年09月24日</td>

                </tr>
                <tr>
                    <td class="rowtitle">核准日期 ：</td>
                    <td class="rowcontact">2023年09月06日</td>
                </tr>
                <tr>
                    <td class="rowtitle">经营范围：</td>
                    <td class="rowcontact rowcontact_long" colspan="3">
                        木材加工、销售;建材、钢材、支护材料购销。(依法须经批准的项目，经相关部门批准后方可开展经营活动)。

                    </td>
                </tr>
                <tr>
                    <td class="rowtitle">住所：</td>
                    <td class="rowcontact rowcontact_long" colspan="3">鄄城旧城镇葵固堆村</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <section class="w3l-footers-1">
            <div class="footer py-3">
                <div class="container">
                    <div class="footer-content">
                        <div class="row">
                            <div class="col-lg-8 footer-left">
                                <p class="m-0">丰源木业有限公司
                                    <!-- <a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> --></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- //Footer -->

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="editContent" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }


    </script>
    <!-- /move top -->

    <!-- common jquery -->
    <script src="../static/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery -->

    <!-- disable body scroll which navbar is in active -->
    <script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });


    </script>
    <!-- disable body scroll which navbar is in active -->


    <!-- for blog carousel slider -->
    <script src="../static/assets/js/owl.carousel.js"></script>
    <script>
  $(document).ready(function () {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      stagePadding: 20,
      margin: 15,
      nav: false,
      loop: false,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  })


    </script>
    <!-- //for blog carousel slider -->


    <!-- stats number counter-->
    <script src="../static/assets/js/jquery.waypoints.min.js"></script>
    <script src="../static/assets/js/jquery.countup.js"></script>
    <script>
  $('.counter').countUp();


    </script>
    <!-- //stats number counter -->

    <!-- jQuery-Photo-filter-lightbox-portfolio-plugin -->
    <script src="../static/assets/js/jquery-1.7.2.js"></script>
    <script src="../static/assets/js/jquery.quicksand.js"></script>
    <script src="../static/assets/js/script.js"></script>
    <script src="../static/assets/js/jquery.prettyPhoto.js"></script>
    <!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->

    <!--  bootstrap js -->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!--  //bootstrap js -->

</body>

</html>
