<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>鄄城县丰源木业有限公司</title>

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/assets/css/style-starter.css">

</head>

<body>
<!-- header -->
<header>
    <div class="w3l-header" id="home">
        <div class="container" style="background:#888;">
            <nav class="navbar navbar-expand-lg navbar-dark pl-0 pr-0" style="background:#888;">
                </a>欢迎来到鄄城县丰源木业有限公司，鄄城县丰源木业有限公司位于山东省菏泽市鄄城县旧城镇葵固堆村，欢迎广大客户来电来函咨询！
            </nav>
        </div>
    </div>
    <div>

    </div>
</header>
<!-- //header -->
<div style="height:40px;background:	#1E90FF;color:white;font:bold;font-size:20px;margin-bottom:10px;margin-top:-10px">
    <ul>
        <li class="nav-item active mr-lg-4" style="display:inline;float:left;">
            <a class="nav-link pl-0 pr-0" href="/index">主页&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-lg-4" style="display:inline;float:left;">
            <a class="nav-link pl-0 pr-0" href="/about">关于公司&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item mr-lg-4" style="display:inline;margin-left:10px;float:left;">
            <a class="nav-link pl-0 pr-0" href="/services">业务&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item" style="display:inline;float:left;">
            <a class="nav-link pl-0 pr-0" href="/contact">联系</a>
        </li>
    </ul>
</div>
<!-- services block1 -->
<div class="w3-services py-5" id="services">
    <div class="container py-lg-3">
        <div class="title-section">
            <h3 class="main-title-w3">丰源木业有限公司</h3>
            <div class="title-line">
            </div>
        </div>
        <div class="row w3-services-grids mt-lg-5 mt-4">
            <div class="col-lg-5 w3-services-left-grid">
                <h4>公司业务</h4>
                <p>鄄城县丰源木业有限公司
鄄城县丰源木业有限公司是一家集产品开发、设计、生产、销售服务于一体的综合型企业，具有丰富的木制品生产经验及广大的销售市场，公司年销售额1000万元。 本公司以木材加工为主，兼营建筑材料及其他矿山支护材料的销售，占地面积10余亩，位于鲁西南最大的木材集散地中心，临240国道和德上高速，南35千米为鄄城火车站，能满足各种木材的储存、采购和运输；公司现有员工48人，中级职称4人，其中工程师2人，初级职称8人；法定代表人耿振五，具有30多年木材加工、购销的经验和技术，自公司设立以来，带领全体员工，不断开发新产品，提高产品质量，扩大生产规模，拓展经营空间，先后与唐口、葛亭、许厂、李楼、新河等煤业公司，建立了稳定的业务关系，同时建立起了完善的售后服务体系。

自公司成立以来，全体员工一直秉承“以质量求生存,以信誉求发展”的经营理念，始终坚持以客户的需求和满意为核心，以“诚信”为宗旨，凭借超前的设计构思、合理的报价、精良的施工工艺，优质的全程服务，真诚地服务于每一位顾客。 </p>
<!--                <div class="more">-->
<!--                    <a href="#more" class="btn-primary btn btn-style mt-lg-5 mt-4">Know more</a>-->
<!--                </div>-->
            </div>
<!--            <div class="col-lg-7 w3-services-right-grid mt-lg-0 mt-5 pl-lg-5">-->
<!--                <div class="row w3-icon-grid-gap1">-->
<!--                    <div class="col-md-6 col-sm-6 w3-icon-grid1">-->
<!--                        <a href="#link">-->
<!--                            <span class="fa fa-codepen editContent" aria-hidden="true"></span>-->
<!--                            <h3>Web design</h3>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </a>-->
<!--                        <p>Lorem ipsum dolor sit amet, init sed adipisci ngelit. In euismod faucibus.</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-sm-6 w3-icon-grid1">-->
<!--                        <a href="#link">-->
<!--                            <span class="fa fa-mobile editContent" aria-hidden="true"></span>-->
<!--                            <h3>Mobile Apps</h3>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </a>-->
<!--                        <p>Lorem ipsum dolor sit amet, init sed adipisci ngelit. In euismod faucibus.</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-sm-6 w3-icon-grid1">-->
<!--                        <a href="#link">-->
<!--                            <span class="fa fa-hourglass editContent" aria-hidden="true"></span>-->
<!--                            <h3>Animation</h3>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </a>-->
<!--                        <p>Lorem ipsum dolor sit amet, init sed adipisci ngelit. In euismod faucibus.</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-sm-6 w3-icon-grid1">-->
<!--                        <a href="#link">-->
<!--                            <span class="fa fa-modx editContent" aria-hidden="true"></span>-->
<!--                            <h3>Photoshop</h3>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </a>-->
<!--                        <p>Lorem ipsum dolor sit amet, init sed adipisci ngelit. In euismod faucibus.</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-sm-6 w3-icon-grid1">-->
<!--                        <a href="#link">-->
<!--                            <span class="fa fa-bar-chart editContent" aria-hidden="true"></span>-->
<!--                            <h3>Marketing</h3>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </a>-->
<!--                        <p>Lorem ipsum dolor sit amet, init sed adipisci ngelit. In euismod faucibus.</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-sm-6 w3-icon-grid1">-->
<!--                        <a href="#link">-->
<!--                            <span class="fa fa-shopping-bag editContent" aria-hidden="true"></span>-->
<!--                            <h3>Development</h3>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </a>-->
<!--                        <p>Lorem ipsum dolor sit amet, init sed adipisci ngelit. In euismod faucibus.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<!-- //services block1 -->

<!-- //services block4 -->

<!-- Footer -->
<footer>
  <section class="w3l-footers-1">
    <div class="footer py-3">
      <div class="container">
        <div class="footer-content">
          <div class="row">
            <div class="col-lg-8 footer-left">
              <p class="m-0">丰源木业有限公司<a target="_blank" href="#"></a></p>
            </div>
            <div class="col-lg-4 footer-right text-lg-right text-center mt-lg-0 mt-3">
              <ul class="social m-0 p-0">

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
<!-- //Footer -->

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="editContent" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->

<!-- common jquery -->
<script src="../static/assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->


<!-- for blog carousel slider -->
<script src="assets/js/owl.carousel.js"></script>
<script>
  $(document).ready(function () {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      stagePadding: 20,
      margin: 15,
      nav: false,
      loop: false,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  })
</script>
<!-- //for blog carousel slider -->


<!-- stats number counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->

<!-- jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="assets/js/jquery-1.7.2.js"></script>
<script src="assets/js/jquery.quicksand.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/jquery.prettyPhoto.js"></script>
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->

<!--  bootstrap js -->
<script src="assets/js/bootstrap.min.js"></script>
<!--  //bootstrap js -->

</body>

</html>